/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #05164D;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(5, 22, 77, 0.8), rgba(5, 22, 77, 0.8)), url('Images/Hero.jpeg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 1rem;
}

.hero-content-wrapper{
    padding-top: 10rem;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFAD00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    font-size: 1.01rem;
    color: #FFF;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FFAD00;
}

.sign-in a {
    color: #FFAD00;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sign-in a:hover {
    color: #FFF;
}

/* Hero Content */
.hero-content {
    text-align: center;
}

.highlight {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 20px;
    color: #FFAD00;
}

.subtext {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #FFF;
}

/* CTA Buttons */
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.job-seekers {
    background-color: #FFAD00;
    color: #05164D;
    border-radius: 5px;
}

.job-seekers:hover {
    background-color: #FFC733;
    color: #05164D;
}

.businesses {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.businesses:hover {
    background-color: #FFF;
    color: #05164D;
}
